backports.zstd
Brotli
certifi
charset-normalizer
contourpy
cycler
filelock
fonttools
h2
hpack
hyperframe
idna
Jinja2
kiwisolver
MarkupSafe
matplotlib==3.10.8
mpmath
munkres==1.1.4
networkx
numpy
packaging
pandas
pillow
pyparsing
PySide6==6.9.2
PySocks
python-dateutil
pytz
PyYAML
requests
shiboken6==6.9.2
six
sympy
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado
typing_extensions
tzdata
unicodedata2
urllib3
win_inet_pton
